.container {
  color: #58595b;
  font-family: "Lora", serif;
  width: 80%;
  padding: 10px;
  margin-bottom: 4em;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 2em;
  /* padding-bottom: 2em; */
}

.container h2 {
  text-align: center;
}

.banner-img {
  width: 100%;
  height: 100%;
  margin-top: 0.25rem;
}

/* .jumbotron-img {
  background-image: url("/assets/img/carousel3.jpg");
  background-size: fluid;
  height: 550px;
  width: 100%;
  margin-top: 0.25rem;
} */

.head-p {
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 2em;
  text-align: center;
  width: 100%;
}

.about-p {
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 2em;
  text-align: justify;
  width: 100%;
}

.about-p a {
  text-decoration: none;
}

hr.hr-style {
  border-top: 0.5px solid #58595b;
  opacity: 0.15;
  width: 100%;
  /* margin: 0 auto;
  text-align: center; */
}

hr.hr2 {
  border-top: 0.5px solid #58595b;
  display: inline-block !important;
  margin-left: 45% !important;
  margin-right: 45% !important;
  padding-bottom: 1rem;
  overflow: visible;
  width: 10%;
}

.card-title,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.card-text p {
  text-align: justified;
}

.price {
  text-align: right;
}

.text-muted {
  font-family: Arial, Helvetica, sans-serif;
}

.invisible {
  visibility: hidden;
  padding: 0 0 0 -75px;
}

#facials,
#treatments,
#peels,
#about,
#products,
#contact {
  scroll-padding: -75px 0 0 0;
  scroll-margin: 75px 0 0 0;
}

/* Contact form */
.contact-us {
  color: #58595b;
  padding-top: 2em;
}
.label-contact,
.contact-btn,
.form-control {
  font-family: Arial, Helvetica, sans-serif;
}

.contact-btn:after,
.contact-btn:before {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.contact-btn {
  background-image: none;
  border: none;
  border-radius: 1;
  background-color: #58595b;
  color: #fff;
  cursor: pointer;
  margin-top: 0.75em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 20%;
}

.contact-btn:hover {
  background: #588da8;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.ProfileImg {
  border-radius: 50%;
  float: left;
}

.prodImage {
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
}
